<h1> Create Article</h1>

<%= form_for @article do |g| %>
	<p>
		<%= g.label :title %> </br>
		<%= g.text_field :title  %>
	</p>
	<p>
		<%= g.label :description %> </br>
		<%= g.text_area :description %>
	</p>
	<p>
		<%= g.submit %>
	</p>


<% end %>